PORT=5000
MONGO_ROOT_USERNAME=merndb
MONGO_ROOT_PASSWORD=onkar1817
MONGO_ROOT_DB=mernapp
MONGO_URI=mongodb://merndb:onkar1817@mongo:27017/mernapp?authSource=admin


JWT_SECRET=change_this_to_a_long_random_string
FRONTEND_URL=http://localhost:8080
BREVO_USER=your_brevo_smtp_user
BREVO_API_KEY=your_brevo_smtp_key